body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u543 {
  position:absolute;
  left:0px;
  top:0px;
}
#u543_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u543_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:67px;
}
#u544 {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:67px;
}
#u545 {
  position:absolute;
  left:2px;
  top:26px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546 {
  position:absolute;
  left:368px;
  top:7px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u547 {
  position:absolute;
  left:0px;
  top:65px;
  width:429px;
  height:701px;
  overflow:hidden;
}
#u547_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:701px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u547_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:2839px;
}
#u548 {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:2839px;
}
#u549 {
  position:absolute;
  left:2px;
  top:1412px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550 {
  position:absolute;
  left:12px;
  top:725px;
  width:394px;
  height:678px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:766px;
}
#u551 {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:765px;
  opacity:0.600000023841858;
}
#u552 {
  position:absolute;
  left:2px;
  top:374px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:765px;
}
#u553 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:765px;
}
#u554 {
  position:absolute;
  left:2px;
  top:374px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u555_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u555_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:765px;
}
#u556 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:765px;
}
#u557 {
  position:absolute;
  left:2px;
  top:374px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:766px;
}
#u558 {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:765px;
  opacity:0.400000005960464;
}
#u559 {
  position:absolute;
  left:2px;
  top:374px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:110px;
}
#u560 {
  position:absolute;
  left:122px;
  top:65px;
  width:309px;
  height:109px;
}
#u560_img.mouseDown {
}
#u560.mouseDown {
  opacity:0.200000002980232;
}
#u561 {
  position:absolute;
  left:2px;
  top:46px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u562_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u562_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:765px;
}
#u563 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:765px;
}
#u564 {
  position:absolute;
  left:2px;
  top:374px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:56px;
}
#u565 {
  position:absolute;
  left:115px;
  top:469px;
  width:200px;
  height:56px;
}
#u566 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567 {
  position:absolute;
  left:115px;
  top:469px;
  width:200px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u568 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u568_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u568_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:765px;
}
#u569 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:765px;
}
#u570 {
  position:absolute;
  left:2px;
  top:374px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
