body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:761px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:761px;
}
#u34 {
  position:absolute;
  left:2px;
  top:372px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:16px;
  top:7px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36 {
  position:absolute;
  left:16px;
  top:152px;
  width:392px;
  height:361px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
