/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/

  *, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


/* Styling for the events posts */


	.citations {
		text-align: center;
		margin-bottom: 5em; /*avoid the view more button border bottom getting cut off by the footer*/
		padding-right: 0; /* reverses gutter */
	}
	   
	
	.citations p {
		width:40%;
		margin: auto;
		margin-top:.5em;
		margin-bottom: 0.5em;
	}

	.citations h1 {
		margin-top:2em;
		margin-bottom: 1em;
	}

	.citations ul {
		list-style-type: none;
		margin-right:2em;
	}

	.citations ul li {
		display: inline-block;
		margin-right: 1em;
	}

	

	.citations a {
		color: #B8B4B4;
		text-decoration: none;
		font-size: 0.81rem;
	}

	.citations a:visited {
		color: #B8B4B4;
		text-decoration: none;
	}
	.citations a:active {
		color: #B8B4B4;
		text-decoration: none;
	}

	.citations a:hover {
		color: #C1B087;
		text-decoration: none;
	}


	

