/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/

/* 
	Reference Retrieved From:
	http://css-tricks.com/dont-overthink-it-grids/

	Basic Grid & Media Queries examples retrieved from Andrew's Grid and Media Queries Tutorial */


/*
	With this selector, we are specifying that all objects use
	the border-box model (not the content-box model)
*/
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



/*
	GRID STRUCTURE 
*/	

	/*
		using a 'fancy' css selectoR
		specifying the styling of the classes that starts with 'grid-col-'
	*/

	[class^='grid-col-'] {
		float: left;
		padding: 0; 
		padding-right: 30px; /* gutter width */
	}

	/* last child will not have a right padding */
	[class^='grid-col-']:last-of-type {
	  padding-right: 0;
	}


	/* Add media queries later on for to achieve responsive design */

	.grid-col-1of10 {
		width: 10%;
	}

	.grid-col-2of10 {
		width: 20%;
	}


	.grid-col-3of10 {
		width: 30%;
	}


	.grid-col-4of10 {
		width: 40%;
	}


	.grid-col-5of10 {
		width: 50%;
	}


	.grid-col-6of10 {
		width: 60%;
	}


	.grid-col-7of10 {
		width: 70%;
	}


	.grid-col-8of10 {
		width: 80%;
	}

	.grid-col-9of10 {
		width: 90%;
	}



/*
	ORDER SUMMARY GRID in product-details.checkout 
*/

	.grid-col-1of6 {
		width: 16.667%;
	}

	.grid-col-2of6 {
		width: 33.333%;
	}

	.grid-col-3of6 {
		width: 50%;
	}

	.grid-col-4of6 {
		width: 66.667%;
	}




	/*
		Much like last week, we are clearing the floating items so
		that our 'grid' structure can be stacked on others
	*/
	.grid:after {
		content: "";
		display: block;
		clear: both;
	}


