/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/

*, *::after, *::before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


/* 
	LANDING IMG 
*/
	#landing-img {
		margin-top: 0.7em;
		margin-bottom: 3em;
		text-align: center;
	}


	#landing-img img {
		max-width: 100%;
		width: auto;
		height: auto; 
	}



/* 
	NEW COLLECTION 
*/

	#new-collection {
		margin-bottom: 3rem; /* space to separate from footer */
		text-align: center;

	}
	
	#new-collection .grid-col-8of10 {
		padding-right: 0; /* to reverse the gutter width in order to center the imgs and button with the title */
	}

	#new-collection ul.img-list li a {
		display: block;
	}


 	#new-collection p {
		width: 33%;
		margin: auto;
		padding-bottom: 2em;
	}

	#new-collection h1 {
		margin-top: 1em;
	}


	/*
		RESPONSIVE for #new-collection img-listing
	*/
	@media (max-width: 65em) {
		#new-collection p {
			width: 60%;
		}
	}

	@media (max-width: 64.063em) {
		#new-collection .grid-col-1of10.blank {
			display: none;
		}

		#new-collection .grid-col-8of10 {
			width: 100%;
		}
	}

	@media (max-width: 65em) {
		#new-collection p {
			width: 70%;
		}
	}

	@media (max-width: 51.313em) {
		#new-collection ul.img-list li {
			margin-bottom: 1.5em;
		}
	}

	@media (max-width: 34.438em) {
		#new-collection p {
			width: 80%;
		}
	}
	
