/*
  A CSS stylesheet created from Tabs N' Blanks, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/


  *, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


  /* 
    BACK TOGGLE (shown only when breadcrumb is not displayed)
  */
    .back-toggle {
      display: none;
      text-align: center;
      padding: 1em 0 2em 0;
    }


  /* 
    PRODUCT DETAILS SECTION 
  */

    /* Styling for Product Image and Gallery */
    
    #product-details {
    	margin: 4em 0; /* entire product details section is shifted down */
    }

    .product-img {
    	margin-left: 5em;
    }

    .product-img img {
        max-width: 100%;
        width: auto;
        height: auto; 
    }


    .product-gallery {
      max-width: 100%;
      padding: 1em;
      text-align: center; /* aligning 3 additional imgs to center */
      background-color: #F2EDE7;
      margin-left: 5em;
    }

    .product-gallery img {
      max-width: 30%;
    }



    /* Styling for Product Details Content */
    .product-details-content {
    	text-align: left;
      padding-left: 2em;
    }

    /* Price */
    .product-details-content h1 {
      margin-bottom: 2em;
    }

    /* Product Name */
    .product-details-content h2 {
      margin-top: 1.5em;
    }

    /* Styling for Product Rating */
    .product-rating {
      color: #C1B087;
      font-size: 1rem;
      margin: 0.5em 0 1em 0;
    }

    /* Sub-Sections: Level and Dimensions */
    .product-details-content h4 {
      text-align: left;
      margin-bottom: 1em;
      margin-top: 2em;
    }

    .product-details-content p {
      text-align: left;
      margin: 0.3em 0;
    }

    .product-details-content a {
      margin: 1em 0;
    }

    .puzzle-level {
      margin: 3em 0 2em 0;
    }




    /*
      SECTION DIVIDER 
    */

    /* Styling for the section dividing line */
    hr.section-divider {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #C1B087;
      margin: 1em 0 1em 5em;
      padding: 0;
      width: 85%;
    }




    /* 
      PEOPLE ALSO VIEWED (RECOMMENDATION) SECTION
    */

    .recommendations {
      margin-left: 5em;
    }

/*    .recommendations img {
      margin-right: 1em;
    }*/

    .recommendations h3 {
      margin: 2em 0;
    }

    .recommendations h4 {
      text-transform: uppercase;
    }

    .recommendations {
      text-align: left;
    }
       
    .recommendations ul.img-list {
      list-style-type: none;
      display: block;
      padding-left: 0;
      margin-bottom: 2em;
    }

    .recommendations ul.img-list li{
      margin-right: 1em;
      display: inline-block;
      text-align: center;
    }

    .recommendations ul.img-list li a {
      display: inline-block;
    }




    /* 
      REVIEW SECTION
    */

    .review {
      margin: 2em 0 2em 5em; 
    }

    .review figure {
      float: left;
      margin: 0;
    }

    .review figcaption {
      font-family: AGaramond-Italics;
      font-size: 0.6rem;
      color: #7D7D7D;
      margin-left: 0.5em;
    }

    .review h4 {
      text-transform: uppercase;
      margin-bottom: 0.2em;
      margin-top: 0;
    }

    .review-posts {
      margin-top: 2em;
    }

    .review-posts .product-rating {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    .review-posts .grid-col-8of10 {
      margin-left: 1em;
    }

  



    /* 
      RESPONSIVE
    */

    @media (max-width: 66.25em) {

      .product-details-content h2 {
        margin-top: 0;
      }
    }

    @media (max-width: 65em) {

      .grid-col-1of10.blank {
        display: none;
      }

      #product-details .grid-col-4of10 {
        width: 45%;
      }

      .product-details-content {
        padding-left: 1em;
      }

      .puzzle-level {
        margin: 2em 0 1em 0;
      }

      .review .grid-col-7of10 {
        width: 85%;
      }

      .review .grid-col-3of10.blank {
        width: 15%;
      }


    }


    @media (max-width: 60em) {

      #product-details .grid-col-5of10 {
        width: 55%;
      }

      #product-details .grid-col-4of10 {
        width: 40%;
      }
    }


    @media (max-width: 54.875em) {
      #product-details .product-img, 
        #product-details .product-gallery{
          margin-left: 3em;
        }
    }

    @media (max-width: 52.875em) {

      #product-details .grid-col-4of10 {
        width: 45%;
      }

      .product-details-content h4 {
        margin-top: 1em;
      }

      .review-header .grid-col-5of10.blank {
        width: 40%;
      }

      .review-header .grid-col-3of10 {
        width: 40%;
      }

      .review .grid-col-7of10 {
        width: 100%;
      }

      .review .grid-col-3of10.blank {
        display: none;
      }

    }

    @media (max-width: 41em) {
      #product-details .grid-col-5of10 {
        width: 80%;
      }

      #product-details .product-img, 
        #product-details .product-gallery{
          margin-left: 4em;
      }


      #product-details .grid-col-4of10 {
        width: 80%;
        margin: 4em 3em;
      }

      hr.section-divider {
        width: 90%;
        margin: 0 2em;
      }

      .recommendations {
        margin-left: 4em;
      }

      .review {
        margin-left: 4em;
      }

      .review-header .grid-col-5of10.blank {
        display: none;
      }

      .review-header .grid-col-2of10 {
        width: 50%;
      }

      .review-header .grid-col-3of10 {
        width: 40%;
      }

      .review .grid-col-7of10{
        width: 100%;
      }

      .review-posts .grid-col-1of10 {
        width: 20%;
      }

      .review-posts .grid-col-8of10 {
        width: 80%;
        margin-left: 0;
      }
    }


      @media (max-width: 34.438em) {

        .back-toggle {
          display: block;
        }

        #product-details .grid-col-5of10 {
          width: 100%;
        }

        #product-details .product-img,
          #product-details .product-gallery {
            margin-left: 2em;
        }

        #product-details .grid-col-4of10 {
          width: 90%;
          margin-left: 2em;
        }

        .product-details-content {
          padding-left: 0.5em;
        }

        .puzzle-level {
          margin-top: 3em;
        }

        .puzzle-dimensions {
          margin-top: 2em;
        }

        .recommendations ul.img-list li {
          margin-bottom: 1.5em;
        }

        .review {
          margin-left: 0;
        }

        .review-header .grid-col-2of10 {
          display: none;
      }

        .review-header .grid-col-3of10 {
          width: 100%;
          text-align: center;
          margin: 2em 0;
        }

        .review-posts {
          margin-left: 3em;
        }

        .review-posts .grid-col-1of10 {
          display: none;
        }

        .review-posts .grid-col-8of10 {
          width: 100%;
        }

    }

    @media (max-width: 29.375em) {
      .recommendations {
        margin-left: 0;
        text-align: center;
      }

      hr.section-divider {
        width: 80%;
      }

      .review-posts {
        margin-left: 2em;
      }

      .review-posts .grid-col-8of10 {
        padding-right: 0;
      }
    }

    @media (max-width: 25em) {
      .recommendations {
        width: 80%;
        margin: 0 2em;
      }
    }

