/*
  A CSS stylesheet created from Pieced, a hypothetical store selling 3D woodcraft puzzles, for the purpose of a web design course project

  CREATED BY: IAT339 D101 WINONA HUANG 301165181
                          JOANNE GOH 301140652;
*/

  *, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


/*standard text styling */
	

	section h1{
		margin-top: 1em;
		margin-bottom: .5em;
	}


	section h3 {
		color: #A3A3A0;
		text-transform: lowercase;

	}

	section p {
		margin-top:1em;
		margin-bottom: 2em;
		margin-right: 5em;
	}

/*interactive elements*/

	#interactive-elements {
		margin-top:2em;
		padding-left: 5em;
	}

	#interactive-elements ul.nav-menu {
		text-align:left;
		margin-top: 0;
	}

	.rendered-element.intextlink a {
    color: #5E5E5E;
  	}

  	.rendered-element.intextlink a:hover {
    color: #A47D81;
    color: #C1B087;
    text-decoration: none;
  	}

	.grid-col-5of10.rendered-element h3{
		padding-top: 3em;
		padding-bottom:0.5em;
	}
	
 	.grid-col-5of10.rendered-element input {
 		width: 60%;
 	}

			/*	filter menu */

			.grid-col-2of10.filter-menu {
				margin-top:3em;
			}

			.grid-col-8of10.filter-menu {
				padding-left: 0;
				margin-top:0;
			}

	#breadcrumb ul.breadcrumb {
		width:60%;
	}

	.rendered-element .nav-menu {
		padding-left: 0;
	}


	/*styling for text elements --------------*/
	#text-elements {
		padding-left:5em;
		margin-top:2em;
	}

	#numbered-lists{
    font-family: Avenir-Book;
    font-size: 0.81rem;
    color: #5E5E5E;
    padding: 0;
    margin: 0 0 0 1.5em;
    list-style-type: lower-alpha;
 	 }

  /*styling for combined elements --------------*/
  #combined-elements {
		margin-top:2em;
		padding-left: 5em;
	}


	.grid-col-8of10.product-listing {
		padding-left:0;
		padding-bottom:0;
	}


.grid-col-8of10.product-listing h3 {
	font-family: Avenir-Medium;
      font-size: 1rem;
      letter-spacing: 0.05em;
      color: #5e5e5e;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
	}

	.grid-col-5of10.rendered-element-events h3 {
      font-family: Avenir-Medium;
      font-size: 1rem;
      letter-spacing: 0.05em;
      color: #5e5e5e;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
	}

	.rendered-element .nav-menu {
		padding-left: 0;
		display: inline;
	}

	.rendered-element .product-gallery {
		margin-left: 0;
	}

	.rendered-element ul.img-list {
		width:0;
	}

	.rendered-element-events ul.img-list{
		width: 0;
	}

	.rendered-element-modal-2 a {
		color: #B8B4B4;
		text-decoration: none;
		font-size: 0.81rem;
	}

	.rendered-element-modal-2 a:visited {
		color: #B8B4B4;
		text-decoration: none;
	}
	.rendered-element-modal-2 a:active {
		color: #B8B4B4;
		text-decoration: none;
	}

	.rendered-element-modal-2 a:hover {
		color: #C1B087;
		text-decoration: underline;
	}
	.rendered-element-modal-2 h3 {
		padding-top: 3em;
	}

	/*styling for brand --------------*/
	#brand {
		margin-top:2em;
		padding-left: 5em;
	}

	#myCanvas-gold {
		background-color: #C1B087;
	}

	#myCanvas-darkgrey {
		background-color: #5e5e5e;
	}

	#myCanvas-medgrey {
		background-color: #7d7d7d;
	}

	#myCanvas-lightgrey {
		background-color: #d8d8d8;
	}

	.myCanvas-grid {
		background-color: #d8d8d8;
		margin-right: .5em;
	}
